.loadingMessage,
.addTodoMessage {
  padding: 0.5rem;
  margin: 1rem 0rem;
  color: var(--text-secondary-color);
  background-color: var(--secondary-color);
  font-weight: bold;
}

.list {
  padding: 0;
  margin: 1rem 0rem;
  list-style-type: none;
  font-family: var(--primary-font);
}
