@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Reset*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*Typography system*/

:root {
  --primary-font: 'Monserrat', sans-serif;
}

h1,
h2,
p,
button,
span {
  font-family: var(--primary-font);
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

/*Color system*/

:root {
  --primary-color: #3b3355;
  --secondary-color: #5d5d81;
  --background-color: oklch(21% 0.034 264.665);
  --accent-color: red;
  --text-color: #22222f;
  --text-secondary-color: white;
}

body {
  background-color: var(--background-color);
}

h1 {
  color: var(--text-color);
}

/*Spacing*/

body {
  padding: 1.5rem;
}
